<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

<head>
    <meta charset="UTF-8">
    <title>Family budget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Family budget</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/transaction}">Create transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout/}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table style="width:90%" >
    <thead>
    <tr>
        <th style="width:25%"> Date </th>
        <th style="width:15%"> Type </th>
        <th style="width:15%"> Category </th>
        <th style="width:15%"> Count </th>
        <th style="width:20%">  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions.empty}">
        <td colspan="2"> No Transactions Available </td>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <!--        <td><span th:text="${transaction.date}"> Date </span></td>-->
        <!--        <td><span th:text="${transaction.type}"> Type </span></td>-->
        <!--        <td><span th:text="${transaction.category}"> Category </span></td>-->
        <!--        <td><span th:text="${transaction.count}"> Count </span></td>-->
        <form action="" method="post">
            <td>
                <input class="form-control"
                       id="transactionDate"
                       name="transactionDate"
                       placeholder="CurrentDate"
                       disabled="disabled"
                       type="text"
                       th:value="${transaction.date}"
                />
            </td>
            <td>
                <input class="form-control"
                       id="transactionType"
                       name="transactionType"
                       placeholder="Type"
                       type="text"
                       th:value="${transaction.type}"
                />
            </td>
            <td>
                <input class="form-control"
                       id="transactionCategory"
                       name="transactionCategory"
                       placeholder="Category"
                       type="text"
                       th:value="${transaction.category}"
                />
            </td>
            <td>
                <input class="form-control"
                       id="transactionCount"
                       name="transactionCount"
                       placeholder="Count"
                       type="number"
                       th:value="${transaction.count}"
                />
            </td>
            <td>
                <button type="submit" class="btn btn-primary" action="/transaction/delete" method="post">Update transaction</button>
                <button type="submit" class="btn btn-primary" action="/transaction/delete" method="post">Delete transaction</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>